*{
    box-sizing: border-box;
    color:  rgb(54, 53, 53);
    text-decoration: none;
    list-style-type: none;
}
/*Body*/
body{
    font-family: "Quattrocento", serif;
    width: 100%;
    margin: auto;
}
/*Header*/
.videoWrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}
#fog{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
header{
    height: 871px;
    text-align: center;
}
.name{
    color: rgb(80, 192, 226);
}
#profile{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 5px solid rgb(80, 192, 226);
    margin-top: 85px;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
}
header p{
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.view-my-work{
    height: 70px;
    width: 300px;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    transition: .5s;
}
.view-my-work:hover{
    background-color: rgb(80, 192, 226);
}
.arrow{
    color: white;
    font-size: 25px;
}
/*Navigation bar*/
nav{
    position: fixed;
    top: 0;
    background-color: rgb(54, 53, 53);
    height: 60px;
    width: 100%;
    z-index: +10000;
}
nav ul{
    list-style: none;
    text-align: right;
    margin-right: 40px;
}
nav li{
   margin-left: 40px;
}
nav li, a{
    font-family: 'Oswald', sans-serif;
    display: inline;
    color: white;
    font-size: 20px;
    transition: .25s;
}
nav a:hover{
    border-top: 2px solid rgb(80, 192, 226);
}
.home{
    color: rgb(80, 192, 226);
}
.home:hover{
    border-top: 2px solid white;
}
/*About section*/
.technical{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.tool-bar h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: white;
}
.tool-bar{
    text-align: center;
}
.TechContain{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: rgb(54, 53, 53);
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.imgLabel{
    color:white;
    font-size: 14px;
}
.TechContain i{
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    color: rgb(80, 192, 226);
    font-size: 50px;
}
#family{
    height: 800px;
}
.bio{
    padding: 50px 0 100px 0;
    display: inline-flex;
    justify-content: space-around;
    background-color: rgb(54, 53, 53);
}
.bio h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: white;
}
.bio-half{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    float: right;
    justify-content: center;
    height: 800px;
}
.bio p{
    display: flex;
    font-size: 18px;
    line-height: 30px;
    color: white;
    align-items: center;
    border: 2px solid rgb(54, 53, 53);
    padding: 15px;
    margin-bottom: 50px;
    width: 70%;
}

/*Project section*/
.projects{
    margin-top: 5%;
    text-align: center;
    height: 500px;
}
.projects h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 40px;
}
.img-contain{
    display: flex;
    justify-content: center;
}
.ss{
    width: 400px;
    height: 400px;
    /* box-shadow: 8px 8px 8px 8px rgba(54, 53, 53, .85) */
    /* border: solid 2px gray; */
}
.ss-bible{
    width: 400px;
    height: 400px;
    border: solid 2px gray;
}
#bible-over label, #quiz-over label{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}
#quiz, #bible{
    position: relative;
    margin: 7%;
}
.quiz-btn, .bible-btn{
    width: 60%;
    height: 70px;
    background-color: transparent;
    margin: 10px;
}
.quiz-btn:hover, .bible-btn:hover{
    background-color: rgb(80, 192, 226);
}
#quiz-over, #bible-over{
    position: absolute;
    bottom: 0;
    background-color: rgba(54, 53, 53, .85);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quiz-over a, #bible-over a{
    color: white;
    font-size: 25px;
}
#quiz:hover #quiz-over, #bible:hover #bible-over{
    opacity: 1;
}
#bible-btn, #quiz-btn{
    width: 200px;
    height: 40px;
    background-color: gray;
}
/*Contact section*/
.taper{
    width: 100%;
    height: 110px;
    background-color: white;
    color: white;
    border: 10px solid white;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}
footer{
    background-color: rgb(54, 53, 53);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    height: 1000px;
    width: 100%;
    margin: 300px auto 0 auto;
}
footer h2{
    color: rgb(80, 192, 226);
    font-size: 60px;
    text-align: center;
    color: white;
}
.contactInfo{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin:auto;
    margin-top: 50px;
    align-items: center;
    padding: 0;
}
.contactInfo li{
    border: 1px solid white;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    
}
.contactInfo li:hover{
    cursor: pointer;
    background-color: rgb(80, 192, 226);
    transition: .5s ease-in-out;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: gray;
    padding: 20px;
    height: 500px;
    width: 400px;
}
form input{
    height: 40px;
    padding-left: 10px;
    margin: 5px;
}
form textarea{
    height: 200px;
    margin: 5px 5px 10px 5px;
    padding: 10px 0 0 10px;
}
form button{
    height: 40px;
    width: 100px;
    margin: auto;
}
form button:hover{
    background-color: rgb(80, 192, 226);
    transition: .5s ease-in-out;
    cursor: pointer;
}
li img{
    height: 60px;
    width: 60px;
}
.contact-links{
    text-align: center;
}
#chevron{
    background-color: gray;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 1px solid white;
    margin-top: 5px;
}
#chevron:hover{
    background-color: rgb(80, 192, 226);
}
@media screen and (max-width: 400px){
    header{
        height: 750px;
    }
    h2{
        font-size: 80px;
    }
    nav{
        height: 100px;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav li, a{
        font-size: 20px;
    }
    .vl{
        display:none;
    }
    
    .bio p{
        font-size: 12px;
        line-height: 18px;
        width: 80%;
    }
    .bio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bio h2{
        margin: 10px;
    }
    .bio .hl{
        display: flex;
        margin: 0;
    }
    .projects{
        height: 700px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    .projects h3{
        font-size: 30px;
    }
    .live, .repo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 75%;
    }
    .longDescription{
        display: none;
    }
    .shortDescription{
        display: block;
        width: 75%;
        text-align: center;
        font-size: 15px;
        margin: auto;
        margin-top: 15px;
    }
    .projects h2{
        margin: 10px;
    }
    .iconContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .fifty{
        display: flex;
        flex-direction: column;
    }
   .skills{
       height: 3000px;
   }
}
    @media screen and (min-width: 400px) and (max-width: 900px){
        header{
            height: 750px;
        }
        h2{
            font-size: 80px;
        }
        nav{
            height: 100px;
        }
        nav ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        nav li, a{
            font-size: 20px;
        }
        .vl{
            display:none;
        }
        
        .bio p{
            font-size: 18px;
            line-height: 25px;
            width: 80%;
        }
        .bio{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .bio h2{
            margin: 10px;
        }
        .bio .hl{
            display: flex;
            margin: 0;
        }
        .projects{
            height: 700px;
        }
        .live, .repo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 25px;
            margin-top: 25px;
            width: 75%;
        }
        .longDescription{
            width: 75%;
            text-align: center;
            font-size: 15px;
            margin: auto;
            margin-top: 15px;
        }
        .projects h2{
            margin: 10px;
        }
        .iconContainer p{
            font-size: 15px;
            width: 150px;
        }
        .iconContainer{
            display: flex;
            text-align: center;
            width: 200px;
        }
        .fifty{
            display: flex;
        }
        .skills{
            height: 2000px;
        }
}
