*{
    box-sizing: border-box;
    color:  rgb(54, 53, 53);
    text-decoration: none;
    list-style-type: none;
}
/*Body*/
body{
    font-family: "Quattrocento", serif;
    width: 100%;
    margin: auto;
}
/*Header*/
.videoWrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}
#fog{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
header{
    height: 920px;
    text-align: center;
    margin: 0;
}
.name{
    color: rgb(80, 192, 226);
}
#profile{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 5px solid rgb(80, 192, 226);
    margin-top: 85px;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
}
header p{
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.view-my-work{
    height: 70px;
    width: 300px;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    transition: .5s;
}
.view-my-work:hover{
    background-color: rgb(80, 192, 226);
}
.arrow{
    color: white;
    font-size: 25px;
}
/*Navigation bar*/
.hamburger{
    display: none;
}
nav{
    position: fixed;
    top: 0;
    background-color: rgb(54, 53, 53);
    height: 60px;
    width: 100%;
    z-index: +10000;
}
nav ul{
    list-style: none;
    text-align: right;
    margin-right: 40px;
}
nav li{
   margin-left: 40px;
}
nav li, a{
    font-family: 'Oswald', sans-serif;
    display: inline;
    color: white;
    font-size: 20px;
    transition: .25s;
}
nav ul a:hover{
    border-top: 2px solid rgb(80, 192, 226);
}
.home{
    color: rgb(80, 192, 226);
}
.home:hover{
    border-top: 2px solid white;
}
/*About section*/
.sml-scrn{
    display: none;
}
.technical{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.tool-bar h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: white;
}
.tool-bar{
    text-align: center;
}
.TechContain{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: rgb(54, 53, 53);
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.imgLabel{
    color:white;
    font-size: 14px;
}
.TechContain i{
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    color: rgb(80, 192, 226);
    font-size: 50px;
}
#family{
    width: 50%;
    height: 50%;
}
.bio{
    padding: 50px 0 100px 0;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 53, 53);
    margin: 0;
}
.bio h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: white;
}
.bio-half{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    float: right;
    justify-content: center;
    height: 800px;
}
.bio p{
    display: flex;
    font-size: 18px;
    line-height: 30px;
    color: white;
    align-items: center;
    border: 2px solid rgb(54, 53, 53);
    padding: 15px;
    margin-bottom: 50px;
    width: 70%;
}

/*Project section*/
.projects{
    margin-top: 5%;
    text-align: center;
    height: 500px;
}
.projects h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 40px;
}
.img-contain{
    display: flex;
    justify-content: center;
}
.ss{
    width: 400px;
    height: 400px;
    /* box-shadow: 8px 8px 8px 8px rgba(54, 53, 53, .85) */
    /* border: solid 2px gray; */
}
.ss-bible{
    width: 400px;
    height: 400px;
    border: solid 2px gray;
}
#bible-over label, #quiz-over label{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}
#quiz, #bible{
    position: relative;
    margin: 7%;
}
.quiz-btn, .bible-btn{
    width: 60%;
    height: 70px;
    background-color: transparent;
    margin: 10px;
}
.quiz-btn:hover, .bible-btn:hover{
    background-color: rgb(80, 192, 226);
}
#quiz-over, #bible-over{
    position: absolute;
    bottom: 0;
    background-color: rgba(54, 53, 53, .85);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quiz-over a, #bible-over a{
    color: white;
    font-size: 25px;
}
#quiz:hover #quiz-over, #bible:hover #bible-over{
    opacity: 1;
}
#bible-btn, #quiz-btn{
    width: 200px;
    height: 40px;
    background-color: gray;
}
/*Contact section*/
.taper{
    width: 100%;
    height: 110px;
    background-color: white;
    color: white;
    border: 10px solid white;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}
footer{
    background-color: rgb(54, 53, 53);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    height: 1000px;
    width: 100%;
    margin: 300px auto 0 auto;
}
footer h2{
    color: rgb(80, 192, 226);
    font-size: 60px;
    text-align: center;
    color: white;
}
.contactInfo{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin:auto;
    margin-top: 50px;
    align-items: center;
    padding: 0;
}
.contactInfo li{
    border: 1px solid white;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    
}
.contactInfo li:hover{
    cursor: pointer;
    background-color: rgb(80, 192, 226);
    transition: .5s ease-in-out;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: gray;
    padding: 20px;
    height: 500px;
    width: 400px;
}
form input{
    height: 40px;
    padding-left: 10px;
    margin: 5px;
}
form textarea{
    height: 200px;
    margin: 5px 5px 10px 5px;
    padding: 10px 0 0 10px;
}
form button{
    height: 40px;
    width: 100px;
    margin: auto;
}
form button:hover{
    background-color: rgb(80, 192, 226);
    transition: .5s ease-in-out;
    cursor: pointer;
}
li img{
    height: 60px;
    width: 60px;
}
.contact-links{
    text-align: center;
}
#chevron{
    background-color: gray;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 1px solid white;
    margin-top: 5px;
}
#chevron:hover{
    background-color: rgb(80, 192, 226);
}
@media screen and (max-width: 499px){
    .hamburger{
        cursor: pointer;
        color: white;
        font-size: 30px;
        padding-right: 20px;
        display:block;
        width:100%;
        text-align:right;
        margin: 0;
        height: 60px;
    }
    nav ul{
        width: 100%;
        background-color: rgb(88, 90, 88);
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
    }
    #links{
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
        display: block;
    }
    #links li{
        display: block;
        border-bottom: 2px solid white;
        width: 100%;
        margin: 0;
        height: 50px;
        padding-top: 4px;
        padding-left: 10px;
    }
    #links li a:hover{
        border-top: none;
    }
    #links.open{
        height: auto;
    }
    header h1{
        font-size: 50px;
    }
    header p{
        font-size: 50px;
    }
    #family{
        display: none;
    }
    .bio-half{
        width: 100%;
        height: 100%;
        margin: auto;
        float: none;
    }
    .bio{
        background: linear-gradient(0deg,rgba(2, 47, 53, 0.733),rgba(0, 0, 0, 0.712)), url('Images/family.JPG') no-repeat 800px;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 1000px;
        width: 100%;
    }
    .TechContain{
        background-color: transparent;
    }
    .bio p{
        font-size: 16px;
        line-height: 22px;
        border: 1px solid white;
        margin-bottom: 10px;
        width: 300px;
    }
    .bio h2{
        font-size: 50px;
    }
    .tool-bar{
        width: 300px;
    }
    .technical{
        display: flex;
        flex-flow: row wrap;
    }
    .tool-bar h3{
        font-size: 35px;
        margin-bottom: 10px;
    }
    #bible-over, #quiz-over{
        display: none;
    }
    .img-contain{
        display: flex;
        flex-direction: column;
    }
    #quiz, #bible{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects{
        height: 1300px;
    }
    .quiz-btn, .bible-btn{
        margin-top: 20px;
        background-color: rgb(54, 53, 53);
        width: 150px;
    }
    .img-contain label{
        font-size: 40px;
        margin-bottom: 10px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
    }
    .sml-scrn{
        display: flex;
    }
    .contact{
        height: 1150px;
    }
    .contact h2{
        font-size: 45px;
    }
    form{
        width: 300px;
    }
    .contactInfo{
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
}
   
@media screen and (min-width: 500px) and (max-width: 1080px){
    header h1{
        font-size: 55px;
    }
    header p{
        font-size: 45px;
    }
    #family{
        display: none;
    }
    .bio-half{
        width: 100%;
        height: 100%;
        margin: auto;
        float: none;
    }
    .bio{
        background: linear-gradient(0deg,rgba(2, 47, 53, 0.733),rgba(0, 0, 0, 0.712)), url('Images/family.JPG') no-repeat 800px;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 1000px;
        width: 100%;
    }
    .TechContain{
        background-color: transparent;
    }
    .bio p{
        font-size: 16px;
        line-height: 22px;
        border: 1px solid white;
        margin-bottom: 10px;
        width: 360px;
    }
    .bio h2{
        font-size: 50px;
    }
    .tool-bar h3{
        font-size: 35px;
        margin-bottom: 10px;
    }
    #bible-over, #quiz-over{
        display: none;
    }
    .img-contain{
        display: flex;
        flex-direction: column;
    }
    #quiz, #bible{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects{
        height: 1300px;
    }
    .quiz-btn, .bible-btn{
        margin-top: 20px;
        background-color: rgb(54, 53, 53);
        width: 150px;
    }
    .img-contain label{
        font-size: 40px;
        margin-bottom: 10px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
    }
    .sml-scrn{
        display: flex;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1350px){
    #famliy{
        width: 30%;
        height: 30%;
    }
    .bio-half{
        width: 70%;
    }
    .bio p{
        width: 100%;
    }
}