*{
    box-sizing: border-box;
    color:  rgb(54, 53, 53);
    text-decoration: none;
    list-style-type: none;
}
/*Body*/
body{
    font-family: "Quattrocento", serif;
    width: 100%;
    margin: auto;
}
/*Header*/
header{
    background-image: url('https://wallpapercave.com/wp/jsqj2Er.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 860px;
    padding: 12%;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color:  rgb(255, 252, 70);
}
header p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(255, 252, 70);
}
/*Navigation bar*/
nav{
    border: solid black 2px;
    background-color: rgb(54, 53, 53);
    height: 80px;
    width: 100%;
}
nav ul{
    list-style: none;
    margin-left: 8%;
}
nav li{
    margin-right: 10%;
}
nav li, a{
    font-family: 'Oswald', sans-serif;
    display: inline;
    color: white;
    font-size: 30px;
    transition: .5s;
    border-bottom: 3px solid transparent;
}
nav li:hover, nav a:hover{
    color: rgb(255, 252, 70);
    border-color: rgb(8, 146, 208);
}
/*Container for content*/
.container{
    margin: auto;
}
.hl{
    width: 300px;
    border-top: 3px solid rgb(255, 252, 70);
    margin: auto;
    margin-bottom: 40px;
}
/*heading for all content sections*/
h2{
    font-family: 'Oswald', sans-serif;
    color:  rgb(8, 146, 208);
    text-align: center;
    font-size: 100px;
}
/*About section*/
.bio{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    color: rgb(54, 53, 53);
    height: 800px;
}
.bio .hl{
    display: none;
}
.vl{
    border-left: 6px solid rgb(255, 252, 70);
    height: 200px;
}
.bio p{
    color: rgb(54, 53, 53);
    font-size: 20px;
    line-height: 25px;
    font-weight: bolder;
    width: 30%;
}
/*Project section*/
.projects{
    margin-top: 10%;
    text-align: center;
    height: 1000px;
}
.projects h3{
    font-size: 50px;
    color: rgb(8, 146, 208);
    text-decoration: underline;
    text-decoration-color: rgb(255, 252, 70);
}
.shortDescription{
    display: none;
}
.longDescription{
    display: block;
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin: auto;
}
.imageContainer{
    position: relative;
    width: 50%;
    margin: auto;
}
.screenshot{
    width: 100%;
    height: auto;
    transition: .5s ease;

}
.imageContainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.overlay{
    position: absolute; 
    bottom: 0; 
    background-color: rgba(8, 146, 208, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.live, .repo{
    padding: 10px;
    color: white;
    border: 2px solid rgb(255, 252, 70);
    background-color: rgb(54, 53, 53);
    width: 10%;
    margin-bottom: 20px;
    transition: .5s;
}
.live:hover, .repo:hover{
    background-color:  rgb(8, 146, 208);
    color: rgb(54, 53, 53);
    cursor: pointer;
}
/*Skills section*/
.skills{ 
    height: 2000px;

}
.technical{
    margin-bottom: 200px;
}
.skills h3{
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: rgb(8, 146, 208);
    text-align: center;
    margin-top: 100px;
}
.technical, .soft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}
.iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: center;
}
.fifty{
    display: flex;
}
.technical i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    width: 75px;
    height: 75px;
    background-color: rgb(8, 146, 208);
    border-radius: 30%;
}
.imgLabel{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: rgb(54, 53, 53);
}
.iconContainer p{
    height: 60px;
    font-size: 20px;
    width: 300px;
    font-weight: bold;
}
.iconContainer img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    background-color: rgb(255, 252, 70);
    border-radius: 30%;
}
/*Contact section*/
footer{
    background-color: rgb(54, 53, 53);
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.contactInfo{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 175px;
}
.contact label{
    font-size: 80px;
    color: rgb(8, 146, 208);
    text-decoration: underline;
    text-decoration-color: rgb(255, 252, 70);
}

@media screen and (max-width: 400px){
    header{
        height: 750px;
    }
    h2{
        font-size: 80px;
    }
    nav{
        height: 100px;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav li, a{
        font-size: 20px;
    }
    .vl{
        display:none;
    }
    
    .bio p{
        font-size: 12px;
        line-height: 18px;
        width: 80%;
    }
    .bio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bio h2{
        margin: 10px;
    }
    .bio .hl{
        display: flex;
        margin: 0;
    }
    .projects{
        height: 700px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    .live, .repo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 75%;
    }
    .projects p{
        width: 75%;
        text-align: center;
        font-size: 15px;
        margin: auto;
        margin-top: 15px;
    }
    .projects h2{
        margin: 10px;
    }
    .iconContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .fifty{
        display: flex;
        flex-direction: column;
    }
   .skills{
       height: 3000px;
   }
}
    @media screen and (min-width: 400px) and (max-width: 900px){
        header{
            height: 750px;
        }
        h2{
            font-size: 80px;
        }
        nav{
            height: 100px;
        }
        nav ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        nav li, a{
            font-size: 20px;
        }
        .vl{
            display:none;
        }
        
        .bio p{
            font-size: 18px;
            line-height: 25px;
            width: 80%;
        }
        .bio{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .bio h2{
            margin: 10px;
        }
        .bio .hl{
            display: flex;
            margin: 0;
        }
        .projects{
            height: 700px;
        }
        .live, .repo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 25px;
            margin-top: 25px;
            width: 75%;
        }
        .projects p{
            width: 75%;
            text-align: center;
            font-size: 15px;
            margin: auto;
            margin-top: 15px;
        }
        .projects h2{
            margin: 10px;
        }
        .iconContainer p{
            font-size: 15px;
            width: 150px;
        }
        .iconContainer{
            display: flex;
            text-align: center;
            width: 200px;
        }
        .fifty{
            display: flex;
        }
        .skills{
            height: 2000px;
        }
}
